.noOffer {
    display: flex;
    width: 600px;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F2f2f2;
    border-radius: 8px;
    align-items: center; /* Change align-items property to center */
    justify-content: center; /* Add justify-content property with a value of center */
}