/* Container styles */
.serviceContainer {
  display: flex;
  width: 956px;
  height: 576px;
}

/* Column styles */
.col1 {
  width: 308px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #f6f6f6;
}

.col2 {
  width: 16px;
  /* background-color: #FFFFFF; */
}

.col3 {
  width: 632px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 2px solid #999999;
  padding: 8px;
  overflow: auto;
}

hr {
  opacity: 20%;
}