#serviceDisplay table {
    border-collapse:separate;
    width: 956px;
    height: 576px;
  }
  
  #serviceDisplay td {
    padding: 8px;
    /* margin: 16px; */
  }
  
  #serviceDisplay td:first-child {
    width: 308px;
    height: 576px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid #efefef;
    vertical-align: top;
    text-align: center;
    /* float: right; */
  }
  
  #serviceDisplay td:last-child {
    width: 632px;
    height: 576px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid #999999; 
    vertical-align: top;
    text-align: center;
    /* float: left; */
  }
  
  /* #serviceDisplay td:last-child{
    margin-left: 16px;
  }   */