.offerContainer {
    /* width: 600px; */
    /* height: 96px; */
    background-color: #F2F2F2;
}

.offer-container {
    display: flex;
    flex-direction: column;
    
}

.offer {
    display: flex;
    width: 600px;
    /* height: 96px; */
    align-items: flex-start;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #F2f2f2;
    border-radius: 8px;
    gap: 10px;
}

.offer > div {
    margin-bottom: 8px; /* Adjust the desired distance between the inner divs */
  }

.offer .user-info {
    width: 120px;
    height: 64px;
    text-align: right;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.offer .user-info b {
    font-weight: bold;
}

.offer .message {
    width: 310px;
    height: 64px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: pre-wrap;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.offer .quotation {
    width: 122px;
    height: 64px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-top: 2px;
    text-align: center;
    white-space: pre-wrap;
    background-color: #FFFFFF;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #F99746;
}
.offer .quotation h3{
    all: initial;
    font-size: 24px;
}