.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Add margin-left to give some space between logo and buttons */
}

.nav-link {
  margin-left: 30px;
  font-size: 20px;
  font-family: cursive;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .logo-container {
    text-align: center;
    margin-bottom: 10px;
  }

  .buttons-container {
    text-align: center;
    margin-left: 0; /* Reset margin-left for mobile view */
  }
}
