h2 {
  text-align: left;
  color:dimgrey;
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 35px;
  font-family: 'Montserrat';
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
}
  
p {
  text-align: left;
  color: grey;
  margin-bottom: 0; 
  font-size: 23px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Button for Visitor*/
.signup-button {
  background-color: coral;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 30px; 
  font-size: 18px;
  cursor: pointer;
  width: 200px;
}

/*Button for User, Membership, Professional*/
.browse-button {
  background-color: #26E0FA;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 30px; 
  font-size: 18px;
  cursor: pointer;
  width: 200px;
}
