.orders-container {
    max-width: 600px;
    margin: 0 auto;
}

.order-summary-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.order-summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-summary-field {
    cursor: pointer;
}

.sort-arrow {
    margin-left: 5px;
}

.order-summary {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.order-summary.selected {
    background-color: #e6f7ff;
}

.selected-order-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.summary-container h2 {
    margin-bottom: 10px;
}

.offer-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.message-input textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: vertical;
    width: 90%;
    height: 100px;
  }

  .quotation-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 80%;
    padding: 6px;
  }

.submit-offer button {
    background-color: #68CEDC;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-offer button:hover {
  background-color: #68cedc;
}

.quotation-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quotation-note {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
