.orders-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .order-summary-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .order-summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-summary-field {
    cursor: pointer;
  }
  
  .sort-arrow {
    margin-left: 5px;
  }
  
  .order-summary {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .order-summary.selected {
    background-color: #e6f7ff;
  }
  
  .selected-order-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
  }
  
  .summary-container h2 {
    margin-bottom: 10px;
  }
  
  .offer-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
  }
  
  .rate-comment-container {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .rate {
    margin-right: 10px;
  }
  
  .comment {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    font-size: 16px; /* Adjust the font size to your preference */
  }  
  
  .comment li {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .comment li:first-child {
    border-top: none;
  }
  
  .comment li:last-child {
    border-bottom: none;
  }
  
  .comment li:not(:first-child):not(:last-child) {
    border-top: none;
    border-bottom: none;
  }
  